# folders
.DS_Store/
__pycache__/
/sd/models/
.cache/
/sample/
/output/
rendered_frames/
/tmp/
.idea/
.vscode/
.conda/
venv/
**.git/

# files
*.env
*.ipynb
*.zip
*.log
*.bin
*.ckpt
*.pth
*.pt
*.safetensors


# comfyUI
/source/comfyUI/models/
/source/comfyUI/web/extensions/*
!/source/comfyUI/web/extensions/logging.js.example
!/source/comfyUI/web/extensions/core/
/source/comfyUI/tests-ui/data/object_info.json
/source/comfyUI/user/
/source/comfyUI/temp/
/source/comfyUI/output/
/source/comfyUI/input/
/source/comfyUI/custom_nodes/
/source/comfyUI/extra_model_paths.yaml