# folders
.DS_Store/
__pycache__/
/.vs
/sd/models/
.cache/
/sample/
/output/
rendered_frames/
/tmp/
/temp/
.idea/
.vscode/
.conda/
venv/
/logs/
**.git/
/input/

# files
imgui.ini
*.env
*.ipynb
*.zip
*.log
*.bin
*.ckpt
*.py[cod]
*.pth
*.pt
*.safetensors
*historical_pos.json
.python-version

# comfyUI
/source/comfyUI/models/
/source/comfyUI/web/extensions/*
!/source/comfyUI/web/extensions/logging.js.example
!/source/comfyUI/web/extensions/core/
!/source/comfyUI/input/example.png
/source/comfyUI/tests-ui/data/object_info.json
/source/comfyUI/user/
/source/comfyUI/temp/
/source/comfyUI/tmp/
/source/comfyUI/.conda/
/source/comfyUI/output/
/source/comfyUI/input/
/source/comfyUI/custom_nodes/
/source/comfyUI/extra_model_paths.yaml